* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

button, input[type="submit"], input[type="reset"], input[type="color"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#buttons{
    display: flex;
    align-items: center;
    gap: 20px;
}

#container{
    width: 500px;
    height: 500px;
    display: grid;

}
